services:
  backend:
    build: ./backend
    ports:
      - '5000:5000'
    env_file: .env
    depends_on:
      - mongo
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    env_file: .env
    depends_on:
      - backend
    volumes:
      - ./frontend:/app

  mongo:
    image: mongo:6
    restart: always
    environment:
      MONGO_INITDB_DATABASE: ar_fashion
    volumes:
      - mongo-data:/data/db

  nginx:
    build: ./nginx
    ports:
      - '80:80'
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
